<div class="jumbotron main-jumbo">
	<div class="container">
		<h1>Welcome to the template page!</h1>
		<p>This is a template for the web shop. Feel free to browse around. This is still a work in progress, so all the features will not yet work.</p>
	</div>	
</div>
<div class="container">
<div class="row">
	<div class="col-md-4">
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</div>
	<div class="col-md-4">
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</div>
	<div class="col-md-4">
	Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna mollis euismod. Donec sed odio dui.
	</div>
</div>
</div>
