<div class="container" style="padding-bottom: 40px;">
	<div class="row">
		<div class="col-lg-6 col-lg-offset-4">
			<div class="row">
				<div class="col-lg-5">
					<h3 class="profile-header">Personal Details</h3>
				</div>	
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>First Name</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="First Name"/>
				</div>
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>Last Name</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="Last Name"/>
				</div>
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>Birthday</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="yyyy-mm-dd"/>
				</div>
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-5">
					<h3 class="profile-header">Address</h3>
				</div>	
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>Street</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="Street"/>
				</div>
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>State</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="State"/>
				</div>
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>Postal Code</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="Postal Code"/>
				</div>
			</div>
			<div class="row padding-top-bottom">
				<div class="col-lg-3">
					<b>City</b>
				</div>	
				<div class="col-lg-9">
					<input type="text" placeholder="City"/>
				</div>
			</div>
			<div class="row" style="padding-top: 15px;">
				<div class="col-lg-3 col-lg-offset-5">
					<button class="btn btn-success">Submit</button>
				</div>	
			</div>
		</div>
	</div>
</div>